extends layout

block content
  .container
    .row
        .col-md-12
            .logo O.R.I.O.N
        .col-md-12
            form.login(action="/game", method="post")
                .container-fluid
                    .row
                        .col-md-12
                            label Usuario
                                input(
                                    type="text",
                                    id="name",
                                    name="name"
                                )

                    .row
                        .col-sm-8
                            label Código de la sala
                                input(
                                    type="number",
                                    name="room"
                                )
                        .col-sm-4
                            .bt-login-box
                                input(
                                    type="submit"
                                    name="login"
                                    value="ENTRAR"
                                )
